<mat-toolbar>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Menu</span>
    <mat-menu #menu="matMenu">
        <button (click)="menuOpc('user')" mat-menu-item>
            <mat-icon>supervised_user_circle</mat-icon>
            <span>Usuários</span>
        </button>
        <button (click)="menuOpc('library')" mat-menu-item>
            <mat-icon>library_books</mat-icon>
            <span>Livros</span>
        </button>
    </mat-menu>
</mat-toolbar>
